@charset "utf-8";
/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@font-face{ font-family: 'Krona One', sans-serif;}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@font-face{font-family: 'Roboto Mono', monospace;}
html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(14, 14, 14);
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Krona One';
}
p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}
.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
/*botão*/
.botao{
    background-color: rgb(29, 197, 29);
    border: 3px solid rgb(29, 197, 29);
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.3em 0.8em;
    border-radius: 5px;
    display: block;
    width: auto;
    letter-spacing: 0.1em;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1.5%;
    cursor: pointer;
    transition: all 0.7s;
}
.botao:hover{
    background-color: rgb(14, 112, 14);
    border-color: rgb(14, 112, 14);
    color: white;
    outline: none;
}
/*menu*/
.cabecalho{
    text-align: center;
    background-color: black;
}
.cabecalho-logo{
    font-size: 2em;
    display: block;
    padding: 0.4em 0 1em 0;
}
.logo{
    margin: 1em;
    height: 10%;
    width: 10%;
}
.cabecalho-menu{
    text-align: center;
    background-color: transparent;
}
.cabecalho-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.cabecalho-menu a{
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    display: block;
    padding: 0.5em;
    text-transform: uppercase;
    transition: all 0.5s;
    font-family: 'Krona One';
}
.cabecalho-menu a:hover{
    background-color: rgb(24, 24, 24);
}
.cabecalho-menu li:last-child{
    border-bottom: 2px rgb(230, 230, 230) solid;
}
/*banner*/
.lateral-esquerda{
    display: none;
}
.lateral-direita{
    display: none;
}
/*corpo*/
.main-index a{
    color: black;
    transition: all 0.4s linear;
    text-decoration: none;
    border-bottom: 1px solid black;
}
.main-index a:hover{
    text-decoration: none;
    color: rgb(14, 112, 14);
    border-color: transparent;
}
.noticia{
    background-color: white;
    text-align: center;
    margin: 2em;
    padding: 0.8em;
    box-shadow: 1px 1px 5px rgb(146, 146, 146);
	box-sizing: border-box;
}
.noticia h1{
    font-size: 1.6em;
}
.noticia p{
    font-size: 1em;
}
.video{
    height: 14em;
    width: 90%;
}
.lista-pagina{
    text-align: center;
    margin-bottom: 1em;
    transform: translate(-2.5%, 0%);
}
.lista-pagina ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.lista-pagina li{
    display: inline-block;
    margin: 0.4em;
}
.lista-pagina a{
    color: white;
    border: 1px solid white;
    padding: 0.3em;
    font-size: 1.1em;
    transition-property: background-color, background-color;
    transition-duration: 0.1s, 0.2s;
    transition-timing-function: cubic-bezier(.67,-0.38,.5,1.5);
    transition-delay: 0s, 0.1s;
}
.lista-pagina a:hover{
    color: white;
    border: 1px solid rgb(14, 112, 14);
    background-color: rgb(14, 112, 14); 
}

/*paginas das notícias*/
.pagina-noticia{
    text-align: center;
    width: 80%;
    margin: auto;
}
.pagina-noticia h1{
    color: white;
    font-size: 1.4em;
    margin-top: 2em;
    margin-bottom: 1em;
}
.pagina-noticia p{
    color: rgb(228, 228, 228);
    line-height: 1.5;
}
.pagina-noticia p:last-child{
    margin-bottom: 2em;
}
.imagem-noticia{
    text-align: center;
    width: 90%;
    margin: 0 5%;
}
.pagina-noticia img{
    max-width: 100%;
    border: 2px solid white;
    box-shadow: 1px 1px 3px rgb(146, 146, 146);
}


/*rodape*/
.rodape{
    border-top: 2px rgb(230, 230, 230) solid;
    text-align: center;
}
.rodape-icons{
    background-color: rgb(24, 24, 24);
    margin-top: 0;
    padding: 0.7em;
}
.rodape p{
    text-align: center;
    color: white;
    font-size: 1.2em;
}
.rodape li{
    display: inline-block;
    margin: 0.5em 0.5em;
}
.rodape a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: all 0.4s;
}
.icon-facebook:hover{
    color: #3b5998;
}
.icon-instagram:hover{
    color: #8a3ab9;
}
.icon-twitter:hover{
    color: #00acee
}
.icon-mail:hover{
    color: rgb(29, 197, 29);
}
/*---  780px responsivo ---*/
/* 780 / 16 = 48.75 */
@media screen and (min-width: 48.75em){

    .cabecalho-logo{
        float: left;
    }
    .logo{
        margin: 2em 0 1em 4em;
        height: 7%;
        width: 7%;
        float: left;
    }
    .cabecalho{
        border-bottom: 2px rgb(230, 230, 230) solid;
    }
    .cabecalho-menu{
        float: right;
        margin: 3.5em 3em 1em 0.5em;
        display: inline;
    }
    .cabecalho-menu ul{
        padding: 0;
        margin: 0;
    }
    .cabecalho-menu li{
        display: inline-block;
    }
    .cabecalho-menu li:last-child{
        border-bottom: none;
    }
    .cabecalho-menu a{
        font-size: 1em;
    }
    .cabecalho-menu a:hover{
        background-color: transparent;
        color: rgb(14, 112, 14);
    }
    /*corpo*/
    .grid{
        position: relative;
    }
    .col-1{
        float: left;
        width: 56%;
    }
    .col-2-2{
        float: right;
        width: 38%;
        position: static;
    }
    .row1{
        position: absolute;
    }
    .row2{
        position: absolute;
        bottom: 0;
    }
    .noticia{
        margin: 0;
    }
    .noticia h1{
        font-size: 1.4em;
    }
    .noticia-grande{
        margin: 2em 0.5em 0em 2em;
    }
    .noticia-pequena{
        margin: 2em 2em 0em 0.5em;
    }
    .noticia-final{
        margin-bottom: 2em;
    }



    .lista-pagina{
        text-align: center;
        margin-bottom: 1em;
        transform: translate(-1.8%, 0%);
    }

    /*paginas das notícias*/
    .pagina-noticia{
        text-align: left;
    }
}
/*---  1000px responsivo ---*/
@media screen and (min-width: 70em){
    
    .principal{
        width: 80%;
        margin: auto;
    }
    .col-1{
        width: 56%;
    }
    .col-2-2{
        width: 38%;
    }
    /*banner*/
    .lateral-esquerda{
        display: block;
    }
    .lateral-esquerda img{
        width: 10%;
        height: 100%;
        position: fixed;
    }
    .lateral-direita{
        display: block;
    }
    .lateral-direita img{
        width: 10%;
        height: 100%;
        position: fixed;
        right: 0;
    }
    .noticia{
        margin: 0;
    }
    .noticia-grande{
        margin: 2em 0.5em 0em 2em;
    }
    .noticia-pequena{
        margin: 2em 2em 0em 0.5em;
    }
    .noticia-final{
        margin-bottom: 2em;
    }
}
@media screen and (min-width: 78em){
    .col-1{
        width: 56%;
    }
    .col-2-2{
        width: 38%;
    }
    .cabecalho-menu a{
        font-size: 1.3em;
    }
    .noticia{
        margin: 0;
    }
    .noticia-grande{
        margin: 2em 0.5em 0em 2em;
    }
    .noticia-pequena{
        margin: 2em 2em 0em 0.5em;
    }
    .noticia-final{
        margin-bottom: 2em;
    }

    .cabecalho{
        background-image: url(../imagens/skate-wallpaper2.jpg);
        padding: 4em 0em;
        background-position: center top;
        background-size: cover;
    }
    .cabecalho-menu{
        margin: 6em 12em 0 2em;
    }
    .logo{
        display: none;
    }
    .cabecalho-menu a{
        color: rgb(44, 44, 44);
        font-weight: 500;
        position: relative;
        top: 4em;
        padding-bottom: 2em;
    }
}